@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Instinct360</h1>
        <p class="lead">Logged in to Instinct360 is an online 360 Review Service</p>
        <p><a href="http://corporateinstinct.co.uk/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="spacer"></div>
<div class="row">
    <div class="col-md-3 instinct-button">
        <h2>Getting started</h2>
        <p>All organisations new to Instinct360 will need to contact to have an account set up</p>
        <p><a class="btn btn-default" href="http://corporateinstinct.co.uk/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 instinct-button">
        <h2>About 360 Reviews</h2>
        <p>360 Reviews are proven improvements on Annual Performance reviews</p>
        <p><a class="btn btn-default" href="http://corporateinstinct.co.uk/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 instinct-button">
        <h2>Customers</h2>
        <p>Our customers love Instinct360</p>
        <p><a class="btn btn-default" href="hhttp://corporateinstinct.co.uk/">Learn more &raquo;</a></p>
    </div>
</div>
